body {
    margin:0;
    background:#111;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    color:white;
    font-family:Arial;
}

#wrapper {
    display:flex;
    gap:20px;
}

canvas {
    border:3px solid white;
    background:black;
}

#settingsPanel {
    background:#222;
    padding:20px;
    width:250px;
    display:flex;
    flex-direction:column;
    gap:15px;
}